<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.velox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/index"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/index_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Velox"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".RecepcionRastreo"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".RecepcionNuevaEntrega"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".RecepcionEntrega"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".RecepcionH"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".ClienteRastreo"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Repartidor_NuevaEntrega"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Repartidor_Rastreo"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".repartidor_home"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".admin_Usuario"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".admin_EntregasPendientes"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".admin_Configuracion"
            android:exported="false" />
        <activity
            android:name=".usuarios_admin"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".Entregas_finalizadas_admin"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".splashActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Almacenar"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".AlmacenistaHome"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".InicioCliente"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".inicioAdmin"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".despachaEnvio"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
    </application>

</manifest>